# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.config
.config.old
build/*
source/*
rootfs/*
tools/amd64-pc-linux-gnu/*
tools/bin/*
tools/include/*
tools/lib/*
tools/libexec/*
tools/share/*
