
mainmenu "IRBIS OS Linux 0.0.1 Configuration"

config OS_NAME_TEXT
	string "Operation System Name"
	default "IRBIS OS"
	help
	  Name operatioon system:

choice 
	prompt "ARCH"
	default OS_ARCH_x86_64
	
config OS_ARCH_x86_64
	bool "x86_64"
config OS_ARCH_i686
	bool "i686"
	
config OS_ARCH_AMD64
	bool "amd64"
endchoice

config OS_ARCH
	string
	default "i686" if OS_ARCH_i686
	default "amd64" if OS_ARCH_AMD64
	default "x86_64"
	
config OS_VENDOR
	string "Vendor name"
	default "irbis"

config OS_ARCH_TARGET
	string
	default x86_64-irbis-linux-gnu	if OS_ARCH_x86_64
		
source "packages/Kconfig"	
