[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/warlock/Desktop/yandex-browser-beta.desktop]
row=2
col=0

[/home/warlock/Desktop/wps need fonts]
row=3
col=0

[/]
row=0
col=0

[/home/warlock]
row=1
col=0

